    <div class="container">
    <h4>Your Profile</h4>
   <form method="post">
  {% csrf_token %}
      <div class="row">
                <div class="input-field col s6">
                    {{ profile_form.StaffId }}
                    <label for="FirstName">Staff ID</label>
                </div>
                <div class="input-field col s6">
                    {{ profile_form.Role }}
                    <label for="FirstName">Role</label>
                </div>
            </div>
        <div class="row">
                <div class="input-field col s6">
                    {{ profile_form.Name }}
                    <label for="FirstName">Name</label>
                </div>
                <div class="input-field col s6">
                    {{ profile_form.Email }}
                    <label for="FirstName">Email</label>
                </div>
            </div>
        <div class="row">
                <div class="input-field col s6">
                    {{ profile_form.Contact }}
                    <label for="FirstName">Contact</label>
                </div>
                <div class="input-field col s6">
                    {{ profile_form.Department}}
                    <label for="FirstName">Department</label>
                </div>
            </div>
  <button type="submit" class="waves-effect waves-light btn">Save changes</button>
</form>
    </div>