{% extends "account/mechanic.html" %}

{% block body  %}
  <div class="container">
        <h3>Add mechanic details here</h3>
        <form method="POST" id="add" name="add">{% csrf_token %}
              <div class="input-field col s12">
                    {{ form.StaffId }}
                    <label for="FirstName">StaffId</label>
                </div>
            <div class="row">
                <div class="input-field col s6">
                    {{ form.Email }}
                    <label for="FirstName">Email</label>
                </div>
                 <div class="input-field col s6">
                    {{ form.Contact }}
                    <label for="FirstName">Contact</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    {{ form.Name }}
                    <label for="FirstName">Name</label>
                </div>
                <div class="input-field col s6">
                    {{ form.Department }}
                    <label for="FirstName">Department</label>
                </div>
            </div>
            <button type="submit" form="add" class="waves-effect waves-light btn">ADD</button>
        </form>
    </div>
{% endblock  %}  