{% include "account/Includes/headersnippet.html" %}
<!-- used to search -->
<li>
    <form class="sidebar-form" method="get" action="{% url 'admin_search' %}">
        <div class="input-group">
            <input id="accounts" type="text" name="qq" value="{{ request.GET.qq }}" class="form-control"
                   placeholder="Search Here" autocomplete="off"/>
        </div>
    </form>
</li>
<!-- inserts dashbord -->
<li><a class="active" href=""><i class="material-icons pink-item">dashboard</i>Dashboard</a></li>
<li>
    <div class="divider"></div>
</li>

<li><a class="subheader">Management</a></li>
<ul class="collapsible" data-collapsible="accordion">
    {% block content %}
        <!-- user management row -->
        <li class="no-padding">
            <a class="collapsible-header">User Management
                <i class="material-icons pink-item">person</i>
            </a>
            <div class="collapsible-body">
                <ul>
                    <li>
                        <a class=" modal-trigger" href="#modal1">User Detail</a>
                    </li>
                    {#                <li>#}
                    {#                    <a >Add a User</a>#}
                    {#                </li>#}
                    <li>
                        <a href="{% url "staff" %}">Add Management</a>
                    </li>
                </ul>
            </div>
        </li>
        <!-- vehicle management row -->
        <li class="no-padding">
        <li>
            <a class="collapsible-header">Vehicle Management
                <i class="material-icons pink-item">airport_shuttle</i>
            </a>
            <div class="collapsible-body">
                <ul>
                    <li>
                        <a class=" modal-trigger" href="#modal2">Add Vehicle</a>
                    </li>
                    <li>
                        <a class=" modal-trigger" href="#modal3">Remove Vehicle</a>
                    </li>
                    <li>
                        <a class=" modal-trigger" href="#modal8">Vehicle Details</a>
                    </li>
                    <li>
                        <a class=" modal-trigger" href="#modal9">Vehicles Report</a>
                    </li>
                </ul>
            </div>
        </li>
        </li>



        <!-- driver management row -->
        <li class="no-padding">
        <li>
            <a class="collapsible-header">Driver Management
                <i class="material-icons pink-item">person</i>
            </a>
            <div class="collapsible-body">
                <ul>
                    <li>
                        <a href="{% url 'add_driver' %}">Add Driver</a>
                    </li>
                    <li>
                        <a class=" modal-trigger" href="#modal5">Remove Driver</a>
                    </li>
                    <li>
                        <a class=" modal-trigger" href="#modal6">Drivers Details</a>
                    </li>
                    <li>
                        <a class=" modal-trigger" href="#modal7">Driver Reports</a>
                    </li>
                </ul>
            </div>
        </li>
        </li>
                <!-- vehicle management row -->
        <li class="no-padding">
        <li>
            <a class="collapsible-header" href="{% url "schedule" %}">Schedule
                <i class="material-icons pink-item">alarm</i>
            </a>
        </li>
        </li>
        </ul>
        </ul>
        <main>

            <section class="content">
                <nav>
                    <div class="nav-wrapper">
                        <a href="#!" class="brand-logo center">EUTMS</a>
                        <ul id="dropdown1" class="dropdown-content">
                            <li><a href="{% url 'Profile' %}">Profile</a></li>
                            <li><a href="{% url 'change_password' %}">Change Password</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                        <ul class="right hide-on-med-and-down">
                            <!-- Dropdown Trigger -->
                            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ user.Name }}<i
                                    class="material-icons right">account_circle</i></a></li>
                        </ul>
                    </div>
                </nav>
                <br>
                <div class="row">
                    <div class="col l3 s6">
                        <!-- small box -->
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3>{{ userCount }}</h3>
                                <p>Users</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a class=" modal-trigger" href="#modal1" class="small-box-footer" class="animsition-link">More
                                info
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col l3 s6">
                        <!-- small box -->
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>{{ vehicleCount }}</h3>
                                <p>Vehicles</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-airport-shuttle"></i>
                            </div>
                            <a class=" modal-trigger" href="#modal3" class="small-box-footer" class="animsition-link">More
                                info
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col l3 s6">
                        <!-- small box -->
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3>{{ driverCount }}</h3>
                                <p>Drivers</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a class=" modal-trigger" href="#modal5" class=" small-box-footer"
                               class="animsition-link">More info
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col l3 s6">
                        <!-- small box -->
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>1</h3>
                                <p>Schedule</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="{% url 'add_driver' %}" class="small-box-footer" class="animsition-link">More info
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>

                </div>

            </section>
            {% block body %} {% endblock %}
            {#    {% for a in data3 %}#}
            {#        {{ a.Driver }}#}
            {#    {% endfor %}#}
            <!-- Modal Structure -->
            <div id="modal1" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <table class="bordered">
                        <thead>
                        <tr>
                            <th data-field="id">Staff Id</th>
                            <th data-field="price">Name</th>
                            <th data-field="price">Department</th>
                            <th data-field="price">Last Login</th>
                            <th data-field="price">Email</th>
                            <th data-field="price">Action</th>
                        </tr>
                        </thead>
                        <tbody>{% for User in  data2 %}
                            <tr>
                                <td>{{ User.StaffId }}</td>
                                <td>{{ User.Name }}</td>
                                <td>{{ User.Department }}</td>
                                <td>{{ User.last_login }}</td>
                                <td>{{ User.Email }}</td>
                                <td>
                                    <a class="btn waves-effect waves-teal" href="{% url 'delete_user' User.pk %}">Remove</a>
                                    {#                                <a class="btn waves-effect waves-teal" href='{% url 'delete'   dlt.pk %}'>Remove</a>#}
                                </td>

                            </tbody>{% endfor %}
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-red btn-flat">CLOSE</button>
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="modal2" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h3>Add Vehicle details here</h3>
                    <form class="col s4" method="POST" id="add" name="add" action="{% url 'admin' %}">{% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.Number_plate }}
                                <label for="FirstName">Number Plate</label>
                            </div>
                            <div class="input-field col s12">
                                {{ form.Vehicle_type }}
                                <label for="LastName"> Vehicle Type </label>
                            </div>
                            <div class="input-field col s12">
                                {{ form.Engine_capacity }}
                                <label for="Email"> Engine Capacity</label>
                            </div>
                            <div class="input-field col s12">
                                {{ form.Capacity }}
                                <label for="Phone">Capacity </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="add" class="waves-effect waves-light btn">ADD</button>
                    <button class="modal-action modal-close waves-effect waves-red btn-flat">CLOSE</button>
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="modal3" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <table class="responsive-table">
                        <thead>
                        <tr>
                            <th data-field="id">Number Plate</th>
                            <th data-field="name">Vehicle Type</th>
                            <th data-field="price">Engine Capacity</th>
                            <th data-field="price">Capacity</th>
                            <th data-field="price">Action</th>
                        </tr>
                        </thead>
                        <tbody>{% for Vehicle in data %}
                            <tr>
                                <td>{{ Vehicle.Number_plate }}</td>
                                <td>{{ Vehicle.Vehicle_type }}</td>
                                <td>{{ Vehicle.Engine_capacity }}</td>
                                <td>{{ Vehicle.Capacity }}</td>
                                <td>
                                    <a class="btn waves-effect waves-teal" href="{% url "delete_vehicle" Vehicle.pk %}">Remove</a>
                                </td>
                            </tr>{% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-red btn-flat">CLOSE</button>
                </div>
            </div>

            <!-- Modal Structure -->
            <div id="modal4" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h3>Add driver details here</h3>
                    <form class="col s4" method="POST" id="add" name="add"
                          action="{% url 'add_driver' %}">{% csrf_token %}
                        {{ s_form.as_p }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="add" class="waves-effect waves-light btn">ADD</button>
                    <button class="modal-action modal-close waves-effect waves-red btn-flat">CLOSE</button>
                </div>
            </div>

            <!-- Modal Structure -->
            <div id="modal5" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <table class="responsive-table">
                        <thead>
                        <tr>
                            <th data-field="id">Staff Id</th>
                            <th data-field="name">Name</th>
                            <th data-field="price">Contact</th>
                            <th data-field="price">Email</th>
                            <th data-field="price">Action</th>
                        </tr>
                        </thead>
                        <tbody>{% for Driver in data1 %}
                            <tr>
                                <td>{{ Driver.StaffId }}</td>
                                <td>{{ Driver.Name }}</td>
                                <td>{{ Driver.Contact }}</td>
                                <td>{{ Driver.Email }}</td>
                                <td>
                                    <a class="btn waves-effect waves-teal" href="{% url 'delete_driver'  Driver.pk %}">Remove</a>
                                </td>
                            </tr>
                            </tbody>{% endfor %}
                    </table>
                    <div class="modal-footer">
                        <button class="modal-action modal-close waves-effect waves-red btn-flat">CLOSE</button>
                    </div>
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="modal6" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <table class="responsive-table">
                        <thead>
                        <tr>
                            <th data-field="id">Staff Id</th>
                            <th data-field="name">Name</th>
                            <th data-field="price">Contact</th>
                            <th data-field="price">Email</th>
                        </tr>
                        </thead>
                        <tbody>{% for Driver in data1 %}
                            <tr>
                                <td>{{ Driver.StaffId }}</td>
                                <td>{{ Driver.Name }}</td>
                                <td>{{ Driver.Contact }}</td>
                                <td>{{ Driver.Email }}</td>
                            </tr>
                            </tbody>{% endfor %}
                    </table>
                    <div class="modal-footer">
                        <button class="modal-action modal-close waves-effect waves-red btn-flat">CLOSE</button>
                    </div>
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="modal7" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <table class="responsive-table">
                        <thead>
                        <tr>
                            <th data-field="id">Driver</th>
                            <th data-field="name">Department Assigned To</th>
                            <th data-field="price">Destination</th>
                            <th data-field="price">Date</th>
                        </tr>
                        </thead>
                        <tbody>{% for D in data3 %}
                            <tr>
                                <td>{{ D.Driver }}</td>
                                <td>{{ D.Request.DeptRequesting }}</td>
                                <td>{{ D.Request.Destination }}</td>
                                <td>{{ D.Request.Travel_date }}</td>
                            </tr>
                            </tbody>{% endfor %}
                    </table>
                    <div class="modal-footer">
                        <button class="modal-action modal-close waves-effect waves-red btn-flat">CLOSE</button>
                    </div>
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="modal8" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <table class="responsive-table">
                        <thead>
                        <tr>
                            <th data-field="id">Number Plate</th>
                            <th data-field="name">Vehicle Type</th>
                            <th data-field="price">Engine Capacity</th>
                            <th data-field="price">Capacity</th>
                        </tr>
                        </thead>
                        <tbody>{% for Vehicle in data %}
                            <tr>
                                <td>{{ Vehicle.Number_plate }}</td>
                                <td>{{ Vehicle.Vehicle_type }}</td>
                                <td>{{ Vehicle.Engine_capacity }}</td>
                                <td>{{ Vehicle.Capacity }}</td>
                            </tr>{% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-red btn-flat">CLOSE</button>
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="modal9" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <table class="responsive-table">
                        <thead>
                        <tr>
                            <th data-field="id">Driver</th>
                            <th data-field="name">Department Assigned To</th>
                            <th data-field="price">Destination</th>
                            <th data-field="price">Date</th>
                        </tr>
                        </thead>
                        <tbody>{% for V in data3 %}
                            <tr>
                                <td>{{ V.Vehicle }}</td>
                                <td>{{ V.Request.DeptRequesting }}</td>
                                <td>{{ V.Request.Destination }}</td>
                                <td>{{ V.Request.Travel_date }}</td>
                            </tr>
                            </tbody>{% endfor %}
                    </table>
                    <div class="modal-footer">
                        <button class="modal-action modal-close waves-effect waves-red btn-flat">CLOSE</button>
                    </div>
                </div>
            </div>


        </main>
    {% endblock %} {% include "account/includes/footersnippet.html" %}