{% extends "account/fleetassistant.html" %}
{% block body %}
    <div class="container">
        <h4>Make allocations here</h4>
        <div class="row">
            <form class="col s12" method="POST" id="add" name="add">{% csrf_token %}
                <div class="row">
{#                    <div class="input-field col s4">#}
{#                        {{ all_form.Request }}#}
{#                        <label for="first_name">Department Requesting</label>#}
{#                    </div>#}
                    <div class="input-field col s6">
                        {{ req_form.Travellers_desc }}
                        <label for="last_name">Travellers</label>
                    </div>
                    <div class="input-field col s6">
                        {{ req_form.Reason }}
                        <label for="last_name">Reason</label>
                    </div>
                </div>
                  <div class="row">
                    <div class="input-field col s4">
                        {{ req_form.Travel_date }}
                        <label for="first_name">Travel Date</label>
                    </div>
                    <div class="input-field col s4">
                        {{ req_form.Destination }}
                        <label for="last_name">Destination</label>
                    </div>
                      <div class="input-field col s4">
                        {{ req_form.Capacity }}
                        <label for="last_name">Capacity</label>
                    </div>
                </div>
                 <div class="row">
                    <div class="input-field col s4">
                        {{ all_form.Vehicle }}
                        <label for="first_name">Vehicle</label>
                    </div>
                    <div class="input-field col s4">
                        {{ all_form.Driver }}
                        <label for="last_name">Driver</label>
                    </div>
                      <div class="input-field col s4">
                        {{ all_form.Driver_fee }}
                        <label for="last_name">Driver fee</label>
                    </div>
                </div>
                 <div class="row">
                    <div class="input-field col s4">
                        {{ all_form.Estimated_distance }}
                        <label for="first_name">Estimated distance</label>
                    </div>
                    <div class="input-field col s4">
                        {{ all_form.Fuel_money }}
                        <label for="last_name">Fuel Money</label>
                    </div>
                      <div class="input-field col s4">
                        {{ all_form.Confirm_status }}
                        <label for="last_name">Confirm Status</label>
                    </div>
                </div>
                <button type="submit" form="add" class="waves-effect waves-light btn right-align">ALLOCATE
                    <i class="mdi-content-send right"></i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}