{% extends "account/user.html" %}

{% block body %}

    <div class="container">
        <table class="responsive-table">
            <thead>
            <tr>
                <th data-field="id">Reques Id</th>
                <th data-field="name">Traveller Description</th>
                <th data-field="price">Confirmation status</th>

            </tr>
            </thead>
            <tbody>{% for b in booking %}
                <tr>
                    <td>{{ b.Request_id }}</td>
                    <td>{{ b.Travellers_desc }}</td>
                <td>{{ b.Confirm_status }}</td>
                </tr>
                </tbody>{% endfor %}
        </table>
    </div>

{% endblock %}