{% include "account/Includes/headersnippet.html" %}
<!-- used to search -->
<li>
    <form class="sidebar-form" method="get" action="{% url 'fleet_search' %}">
        <div class="input-group">
            <input id="accounts" type="text" name="q" value="{{ request.GET.q }}" class="form-control"
                   placeholder="Search Here" autocomplete="off"/>
        </div>
    </form>
</li>
<!-- inserts dashbord -->
<li><a class="active" href="{% url 'fleetassistant' %}"><i class="material-icons pink-item">dashboard</i>Dashboard</a>
</li>
<li>
    <div class="divider"></div>
</li>

<li><a class="subheader">Management</a></li>
<ul class="collapsible" data-collapsible="accordion">
    {% block content %}

        <!-- bookings management row -->
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header">Bookings
                        <i class="material-icons pink-item">book</i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="{% url 'fleetview' %}">Booking Requests</a>
                            </li>
                            <li>
                                <a class=" modal-trigger" href="#modal4">Confirmed bookings</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>


        </ul>
        </ul>
        <main>
            <section class="content">
                <nav>
                    <div class="nav-wrapper">
                        <a href="#!" class="brand-logo center">EUTMS</a>
                        <ul id="dropdown1" class="dropdown-content">
                            <li><a href="{% url 'Profile' %}">Profile</a></li>
                            <li><a href="{% url 'change_password' %}">Change Password</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                        <ul class="right hide-on-med-and-down">
                            <!-- Dropdown Trigger -->
                            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ user.Name }}<i
                                    class="material-icons right">account_circle</i></a></li>
                        </ul>
                    </div>
                </nav>

                <br>
                <div class="row">
                    <div class="col l3 s6">
                        <!-- small box -->
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3>{{ requestCount }}</h3>
                                <p> Requests</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="{% url 'fleetview' %}" class="small-box-footer" class="animsition-link">More info
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col l3 s6">
                        <!-- small box -->
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>{{ vehicleCount }}</h3>
                                <p>Vehicles</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-airport-shuttle"></i>
                            </div>
                            <a class=" modal-trigger" href="#modal1" class="small-box-footer" class="animsition-link">More
                                info
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col l3 s6">
                        <!-- small box -->
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3>{{ driverCount }}</h3>
                                <p>Drivers</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a class=" modal-trigger" href="#modal2" class="small-box-footer" class="animsition-link">More
                                info
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col l3 s6">
                        <!-- small box -->
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>1</h3>
                                <p>Allocations</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="" class="small-box-footer" class="animsition-link">More info
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <br>
            {% block body %} {% endblock %}

            <!-- Modal Structure -->
            <div id="modal1" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <table class="responsive-table">
                        <thead>
                        <tr>
                            <th data-field="id">Number Plate</th>
                            <th data-field="name">Vehicle Type</th>
                            <th data-field="price">Engine Capacity</th>
                            <th data-field="price">Capacity</th>
                        </tr>
                        </thead>
                        <tbody>{% for Vehicle in data1 %}
                            <tr>
                                <td>{{ Vehicle.Number_plate }}</td>
                                <td>{{ Vehicle.Vehicle_type }}</td>
                                <td>{{ Vehicle.Engine_capacity }}</td>
                                <td>{{ Vehicle.Capacity }}</td>
                            </tr>{% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-red btn-flat">CLOSE</button>
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="modal2" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <table class="responsive-table">
                        <thead>
                        <tr>
                            <th data-field="id">Staff Id</th>
                            <th data-field="name">Name</th>
                            <th data-field="price">Contact</th>
                            <th data-field="price">Email</th>
                        </tr>
                        </thead>
                        <tbody>{% for Driver in data2 %}
                            <tr>
                                <td>{{ Driver.StaffId }}</td>
                                <td>{{ Driver.Name }}</td>
                                <td>{{ Driver.Contact }}</td>
                                <td>{{ Driver.Email }}</td>
                            </tr>
                            </tbody>{% endfor %}
                    </table>
                    <div class="modal-footer">
                        <button class="modal-action modal-close waves-effect waves-red btn-flat">CLOSE</button>
                    </div>
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="modal4" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>Schedule</h4>
                    <table class="responsive-table">
                        <thead>
                        <tr>
                            <th data-field="id">Department</th>
                            <th data-field="id">Travellers</th>
                            <th data-field="name">Travel Date</th>
                            <th data-field="price">Capacity</th>
                            <th data-field="price">Driver</th>
                            <th data-field="price">Vehicle</th>
                            <th data-field="price">Distance</th>
                            <th data-field="price">Fuel</th>
                        </tr>
                        </thead>
                        <tbody>{% for data in  data4 %}
                            <tr>
                                <td>{{ data.Request.DeptRequesting }}</td>
                                <td>{{ data.Request.Travellers_desc }}</td>
                                <td>{{ data.Request.Travel_date }}</td>
                                <td>{{ data.Request.Capacity }}</td>
                                <td>{{ data.Driver }}</td>
                                <td>{{ data.Vehicle }}</td>
                                <td>{{ data.Estimated_distance }}</td>
                                <td>{{ data.Fuel_money }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
                </div>
            </div>
        </main>
    {% endblock %} {% include "account/includes/footersnippet.html" %}