{% extends 'account/fleetassistant.html' %}
{%  block body %}
    <table class="responsive-table">
  <thead>
    <tr>
        <th data-field="id">Request Id</th>
        <th data-field="id">Department Head</th>
      <th data-field="id">Department</th>
      <th data-field="name">Travel Date</th>
      <th data-field="price">Return Date</th>
      <th data-field="price">Destination</th>
      <th data-field="price">Reason</th>
      <th data-field="price">Travellers</th>
      <th data-field="price">Action</th>
    </tr>
  </thead>
  <tbody>{% for Request in results %}
    <tr>
    <td>{{ Request.Request_id}}</td>
      <td>{{ Request.User.Name }}</td>
      <td>{{ Request.DeptRequesting }}</td>
      <td>{{ Request.Travel_date }}</td>
      <td>{{ Request.Return_date }}</td>
      <td>{{ Request.Destination }}</td>
      <td>{{ Request.Reason }}</td>
      <td>{{ Request.Capacity }}</td>
      <td>
        <a class="btn waves-effect waves-teal  modal-trigger" href="#modal3">Allocate</a>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>


    <!-- Modal Structure -->
<div id="modal3" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
      <form method="POST" id="add" name="add" >{% csrf_token %}
          {{ form.as_p}}
      </form>
  </div>
  <div class="modal-footer">
      <button type="submit" form="add" class="waves-effect waves-light btn">ALLOCATE</button>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">CLOSE</a>
  </div>
</div>
{%  endblock %}