{% extends "base.html" %}

{% block content %}
    <p>Forgot Password</p>
<form method="POST">{% csrf_token %}

        {{form.Email }}
        <button type="submit" value="submit">Submit</button>
        <p class="message">Already registered? <a href="{% url 'login' %}">Sign In</a></p>
</form>
{% endblock %}