{% extends "base.html" %}

{% block content %}
{% if form.errors %}
{#    <p style="color:red;">StaffId  not correct</p>#}
{#    {% elif form.password.errors %}#}
{#     <p style="color:red;">Password  not correct</p>#}
{#    {% else %}#}
    <p style="color:red;">Credentials   not correct</p>
{% endif %}
<form class="login-form" method="POST"> {% csrf_token %}
{{form.StaffId}}
{{form.password}}
  <button type="submit" value="submit">login</button>
  <p class="message">Not registered? <a href="signup/">Create an account</a></p>
{# <p class="message" > <a href="resetpassword/">Forgot Password</a></p>#}
</form>  
{% endblock %}