{% extends "base.html" %}

{% block content %}
<form method="POST">{% csrf_token %}
        {{form.StaffId }}
        {{form.Email }}
        {{ form.Name }}
        {{form.password1 }}
        {{form.password2 }}
        <button type="submit" value="submit">create</button>
        <p class="message">Already registered? <a href="{% url 'login' %}">Sign In</a></p>
</form>    
{% endblock %}