{% extends "account/user.html" %}
{% block body %}
    <div class="container">
        <h4>Delete booking request here</h4>
        <div class="row">
            <form class="col s12" method="POST" id="add" name="add">{% csrf_token %}
                <div class="row">
                    <div class="input-field col s6">
                        {{ form.Travel_date }}
                        <label for="first_name">Travel Date</label>
                    </div>
                    <div class="input-field col s6">
                        {{ form.Return_date }}
                        <label for="last_name">Return Date</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.Destination }}
                        <label for="Phone">Destination</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.Travellers_desc }}
                        <label>Traveller Description eg Students</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form.Reason }}
                        <label for="first_name">Reason</label>
                    </div>

                    <div class="input-field col s6">
                        {{ form.Capacity }}
                        <label for="last_name">Number of Travellers</label>
                    </div>
                    <input name="User" type="hidden" value="{{ request.user.userprofile.Name }}">
                    <input name="DeptRequesting" type="hidden" value="{{ request.user.userprofile.Department }}">
                </div>
                <button type="submit" form="add" class="waves-effect waves-light btn">Cancel
                    <i class="mdi-content-send right"></i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}