{% extends "account/user.html" %}
{% block body %}
    <table class="responsive-table">
        <thead>
        <tr>
            <th data-field="id">Travel Date</th>
            <th data-field="name">Return Date</th>
            <th data-field="price">Destination</th>
            <th data-field="price">Travellers</th>
            <th data-field="price">Capacity</th>
            <th data-field="price">Action</th>
            <th data-field="price">Action</th>

        </tr>
        </thead>
        <tbody>{% for r in reqs %}
            <tr>
                <td>{{ r.Travel_date }}</td>
                <td>{{ r.Return_date }}</td>
                <td>{{r.Destination }}</td>
                <td>{{r.Travellers_desc }}</td>
                <td>{{ r.Capacity }}</td>
                <td>
                    <a class="btn waves-effect waves-teal  modal-trigger" href="{% url 'update'  r.pk %}">Change</a>
                </td>
            <td>
                    <a class="btn waves-effect waves-teal  modal-trigger" href="{% url 'req_delete'  r.pk %}">Cancel</a>
                </td>
            </tr>
            </tbody>{% endfor %}
    </table>
{% endblock %}