{% extends "account/admin.html" %}
{%  block body %}
                    <h4>Schedule</h4>
                    <table class="responsive-table">
                        <thead>
                        <tr>
                            <th data-field="id">Department</th>
                            <th data-field="id">Travellers</th>
                            <th data-field="name">Travel Date</th>
                             <th data-field="name">Return  Date</th>
                            <th data-field="price">Capacity</th>
                            <th data-field="price">Driver</th>
                            <th data-field="price">Vehicle</th>
                            <th data-field="price">Distance</th>
                            <th data-field="price">Fuel</th>
                        </tr>
                        </thead>
                        <tbody>{% for data in  data3 %}
                            <tr>
                                <td>{{ data.Request.DeptRequesting }}</td>
                                <td>{{ data.Request.Travellers_desc }}</td>
                                <td>{{ data.Request.Travel_date }}</td>
                                <td>{{ data.Request.Return_date }}</td>
                                <td>{{ data.Request.Capacity }}</td>
                                <td>{{ data.Driver }}</td>
                                <td>{{ data.Vehicle }}</td>
                                <td>{{ data.Estimated_distance }}</td>
                                <td>{{ data.Fuel_money }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
{% endblock %}