{%  extends 'account/admin.html' %}

{%  block body %}
        <div class="container">
        <h3>Add Staff here</h3>
        <form method="POST" id="add" name="add">{% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                    {{ form.StaffId }}
                    <label for="FirstName">StaffId</label>
                </div>
                <div class="input-field col s6">
                    {{ form.Name }}
                    <label for="FirstName">Name</label>
                </div>
                </div>
            <div class="row">
                <div class="input-field col s6">
                    {{ form.Role }}
                    <label for="FirstName">Role</label>
                </div>
                <div class="input-field col s6">
                    {{ form.Department }}
                    <label for="FirstName">Department</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    {{ form.Contact }}
                    <label for="FirstName">Contact</label>
                </div>
                <div class="input-field col s6">
                    {{ form.Email }}
                    <label for="FirstName">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    {{ form.password1 }}
                    <label for="FirstName">Password</label>
                </div>
                <div class="input-field col s6">
                    {{ form.password2 }}
                    <label for="FirstName">Confirm Password</label>
                </div>
            </div>
            <button type="submit" form="add" class="waves-effect waves-light btn">ADD</button>
        </form>
    </div>

{%  endblock %}