{% include "account/Includes/headersnippet.html" %}
<!-- used to search -->
        <li>
                <form class="sidebar-form">
                  <div class="input-group">
                    <input id="accounts" type="text" name="username" class="form-control" placeholder="Search Here" autocomplete="off" />
                  </div>
                </form>
              </li>
     <!-- inserts dashbord -->
     <li><a class="active" href=""><i class="material-icons pink-item">dashboard</i>Dashboard</a></li>
     <li><div class="divider"></div></li>

     <li><a class="subheader">Management</a></li>
     <ul class="collapsible" data-collapsible="accordion">
{% block content %}
<!-- <li>
  <a href="names.html">
    <i class="material-icons pink-item">schedule</i>Schedule calender</a>
</li> -->
<!-- Booking management row -->
<li class="no-padding">
  <ul class="collapsible collapsible-accordion">
    <li>
      <a class="collapsible-header">Booking
        <i class="material-icons pink-item">book</i>
      </a>
      <div class="collapsible-body">
        <ul>
          <li>
            <a class=" modal-trigger" href="#modal1">Make Booking</a>
          </li>
          <li>
            <a  href="{% url 'changes' %}" >Change Booking</a>
          </li>
          <li>
            <a href="{% url 'booking_status' %}">view status</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</li>
</ul>
</ul>
<main>

  <section class="content">
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">EUTMS</a>
      <ul id="dropdown1" class="dropdown-content">
          <li><a href="{% url 'Profile' %}">Profile</a></li>
          <li><a href="{% url 'change_password' %}">Change Password</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
      <ul class="right hide-on-med-and-down">
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ user.Name }}<i class="material-icons right">account_circle</i></a></li>
      </ul>
    </div>
  </nav>
    <br>
    <div class="row">
      <div class="col l3 s6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>{{ req_count }}</h3>
            <p> Boookings Report</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="" class="small-box-footer" class="animsition-link">More info
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>

      <div class="col l3 s6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>1</h3>
            <p>Booking Changes</p>
          </div>
          <div class="icon">
            <i class="ion ion-airport-shuttle"></i>
          </div>
          <a href="" class="small-box-footer" class="animsition-link">More info
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>

      <div class="col l3 s6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>1</h3>
            <p>Booking Status</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" class="small-box-footer" class="animsition-link">More info
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  {% block body %} {% endblock %}

{#  <div class="browser-default">#}
{#    <select>#}
{#      <option value="" disabled selected>Choose your option</option>#}
{#      <option value="1">Computer Science</option>#}
{#      <option value="2">FEDCOS</option>#}
{#      <option value="3">Geography</option>#}
{#    </select>#}
{#    <label>Materialize Select</label>#}
{#  </div>#}
  <!-- Request Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Make booking request here</h4>
      <div class="row">
        <form class="col s12" method="POST" id="add" name="add">{% csrf_token %}
            <div class="row">
            <div class="input-field col s12">
              {{ form.DeptRequesting }}
              <label>Department Requesting</label>
            </div>
          </div>
            <div class="row">
              <div class="input-field col s6">
                {{ form.Travel_date }}
                <label for="first_name">Travel Date</label>
              </div>
              <div class="input-field col s6">
                {{ form.Return_date }}
                <label for="last_name">Return Date</label>
              </div>
            </div>
          <div class="row">
            <div class="input-field col s6">
              {{ form.Destination}}
              <label for="Phone">Destination</label>
            </div>
                <div class="input-field col s6">
                    {{ form.Travellers_desc }}
                    <label>Traveller Description eg Students</label>
                </div>
            </div>
        <div class="row">
              <div class="input-field col s6">
                {{ form.Reason}}
                <label for="first_name">Reason</label>
              </div>

              <div class="input-field col s6">
                {{ form.Capacity }}
                <label for="last_name">Number of Travellers</label>
              </div>
            <input name="User" type="hidden" value="{{ request.user.userprofile.Name}}">
            <input name="DeptRequesting" type="hidden" value="{{ request.user.userprofile.Department }}">
            </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" form="add" class="waves-effect waves-light btn">Request
        <i class="mdi-content-send right"></i>
      </button>
      <button class="modal-action modal-close waves-effect waves-red btn-flat">CLOSE</button>
    </div>
  </div>
  <!-- Status Modal Structure -->
  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <table class="responsive-table">
        <thead>
          <tr>
            <th data-field="id">Reques Id</th>
            <th data-field="name">Traveller Description</th>
            <th data-field="price">Confirmation status</th>

          </tr>
        </thead>
        <tbody>{% for b in booking %}
<tr>
    <td>{{  b.DeptRequesting }}</td>
</tr>
        </tbody>{% endfor %}
      </table>
    </div>
    <div class="modal-footer">
      <button class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</button>
    </div>
  </div>
 <!-- Modal Structure -->
  <div id="modal3" class="modal modal-fixed-footer">
    <div class="modal-content">
      <table class="responsive-table">
        <thead>
          <tr>
            <th data-field="id">Travel Date</th>
            <th data-field="name">Return Date</th>
            <th data-field="price">Destination</th>
            <th data-field="price">Traveller Description</th>
              <th data-field="price">Capacity</th>
              <th data-field="price">Action</th>

          </tr>
        </thead>
        <tbody>{% for Request in reqs %}
          <tr>
            <td>{{ Request.Travel_date}}</td>
              <td>{{ Request.Return_date}}</td>
            <td>{{ Request.Destination }}</td>
            <td>{{ Request.Travellers_desc }}</td>
            <td>{{ Request.Capacity}}</td>
          </tr>
        </tbody>{% endfor %}
      </table>
      <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-red btn-flat">CLOSE</button>
      </div>
    </div>
  </div>

</main>
{% endblock %} {% include "account/includes/footersnippet.html" %}