{% extends "account/admin.html" %}

{%  block body %}
   <div class="container">
    <h4>Your Profile</h4>
   <form method="post">
  {% csrf_token %}
  {{ profile_form.as_p }}
  <button type="submit">Save changes</button>
</form>
    </div>
{% endblock %}