{% extends "account/admin.html" %}
{% block body %}
    <div class="container">
        <h3>Remove Vehicle details here</h3>
        <form class="col s4" method="POST" id="add" name="add" action="{% url 'admin' %}">{% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    {{ form.Number_plate }}
                    <label for="FirstName">Number Plate</label>
                </div>
                <div class="input-field col s12">
                    {{ form.Vehicle_type }}
                    <label for="LastName"> Vehicle Type </label>
                </div>
                <div class="input-field col s12">
                    {{ form.Engine_capacity }}
                    <label for="Email"> Engine Capacity</label>
                </div>
                <div class="input-field col s12">
                    {{ form.Capacity }}
                    <label for="Phone">Capacity </label>
                </div>
            </div>
              <button type="submit" form="add" class="waves-effect waves-light btn">REMOVE</button>
        </form>

    </div>
{% endblock %}